.homePage {
  background-image: url("/assets/images/bgHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  button {
    background-color: #4fa3e3;
  }
}

.title {
  font-size: 3rem;
}



