@import "src/styles/utils/variables";

.profile {
  background-color: #f6f6f6;
  &__boxUser {
    .avatar {
      position: relative;
      padding: 80px 0;
      overflow: hidden;
      max-width: 160px;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
